.profile{
    min-height: 90vh;
    display: flex;
    padding: 2rem 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profileBox {
    width: 30vw;
    gap: .7rem;
}

@media screen and (max-width: 900px) {
    .profileBox{
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .profileBox{
        width: 80vw;
    }
}