.homePage {
    overflow-x: hidden;
}

.hero {
    height: 90vh;
    width: 100vw;
    display: flex;
    padding: 1rem 3rem;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

.right img {
    filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.4));
    width: 33rem;
    margin-bottom: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}


/* Homepage Middle Section */


.homeMid {
    width: 100vw;
    height: 100vh;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.homeMid h1 {
    text-align: center;
}

.serviceBoxes {
    display: flex;
    gap: 2rem;
    /* flex: 1; */
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 1.5rem;
    font-size: 90%;
    height: fit-content;
    border-radius: 2rem;
    background: rgba(240, 240, 240, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
}

.box:hover {
    cursor: pointer;
    border: 2px solid var(--dp-blue);
    box-shadow: 0 0 2rem rgba(47, 0, 255, 0.4);
}

.boxImg {
    border-radius: 1rem;
    overflow: hidden;
}

.boxImg img {
    transition: all .3s ease-in-out;
    width: 100%;
    scale: 1.1;
}

.boxImg:hover img {
    scale: 1.2;
}

@media screen and (max-width: 1040px) {
    html {
        font-size: 85%;
    }

    .right img {
        width: 28rem;
    }

    .pages {
        z-index: 10;
    }
}

@media screen and (max-width: 1024px) and (min-height: 960px) {
    html {
        font-size: 110%;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .right img {
        width: 40rem;
    }

    .homeMid {
        height: fit-content;
    }

    .left {
        text-align: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    .serviceBoxes {
        flex-direction: column;
        gap: 3rem;
    }

    .box {
        align-items: center;
        border: 2px solid var(--dp-blue);
        box-shadow: 0 0 2rem rgba(47, 0, 255, 0.3);
    }

    .boxImg {
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 70%;
    }

    .right img {
        width: 22rem;
    }

    .homeMid {
        height: fit-content;
    }

    .serviceBoxes {
        flex-direction: column;
        gap: 3rem;
    }

    .box {
        align-items: center;
        border: 2px solid var(--dp-blue);
        box-shadow: 0 0 2rem rgba(47, 0, 255, 0.3);
    }

    .boxImg {
        width: 50%;
    }
}

@media screen and (max-width: 620px) {
    html {
        font-size: 80%;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0;
    }

    .left {
        text-align: center;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .box {
        text-align: center;
    }

    .boxImg {
        width: 80%;
    }

    .boxImg img {
        scale: 1.1;
    }
}

@media screen and (max-width:350px) {
    html {
        font-size: 60%;
    }

    .pages {
        width: 200px;
    }
}